![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [126]:
# We've loaded your first package for you! You can add as many cells as you need.
import numpy as np
import pandas as pd

# Begin coding here ...
csv=pd.read_csv("data/airbnb_price.csv")
csv.head()

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

In [127]:
tsv= pd.read_csv("data/airbnb_last_review.tsv",sep="\t")
tsv.head()

   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

In [128]:
xlsx= pd.read_excel("data/airbnb_room_type.xlsx")
xlsx.head()

   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

In [129]:
df = tsv.merge(csv,on="listing_id")
df= df.merge(xlsx,on="listing_id")
df.head()

   listing_id  ...        room_type
0        2595  ...  Entire home/apt
1        3831  ...  Entire home/apt
2        5099  ...  Entire home/apt
3        5178  ...     private room
4        5238  ...  Entire home/apt

[5 rows x 7 columns]

In [130]:
df["last_review"]=pd.to_datetime(df["last_review"])
print(df["last_review"].min())
print(df["last_review"].max())
first_reviewed=df["last_review"].min()
last_reviewed=df["last_review"].max()

2019-01-01 00:00:00
2019-07-09 00:00:00

In [131]:
df["room_type"]=df["room_type"].str.lower()

In [132]:
nb_private_rooms=df[df["room_type"]=="private room"].shape[0]
nb_private_rooms

11356

In [133]:
df["price"]=df["price"].str.replace("dollars","").astype("int")
avg_price= df["price"].mean()
avg_price

141.7779364512674

In [134]:
d={"first_reviewed":[first_reviewed],"last_reviewed":[last_reviewed],"nb_private_rooms":[nb_private_rooms],"avg_price":[avg_price.round(2)]}
review_dates= pd.DataFrame(data=d)
review_dates

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78